.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  border-top: 3px solid var(--truleyred);
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-light cursor-pointer text-accents-6;
  transition: ease-in 100ms;
  outline: none !important;
}

.mobilelink {
  @apply inline-flex items-center my-2 text-primary leading-6 font-light  cursor-pointer text-accents-6;
  transition: ease-in 100ms;
  outline: none !important;
}

.link:hover {
  color: var(--truley-lightred);
}

.mobilelink:hover {
  color: var(--truley-lightred);
}

.link:focus {
  @apply outline-none text-accents-8;
}

.mobilelink:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer transform duration-200 ease-in-out;
  border: 1px solid transparent;
  border-radius: 8px;
  &:hover {
    border-radius: 8px;
    border: 1px solid rgba(224, 0, 15, 0.2);
  }
}

.content {
  display: none;
  height: 0px;
  transition: height ease 0.3s;
  border-top: 2px solid var(--truley-lightred);
}

.contentShow {
  transition: height ease 0.3s;
  display: flex;
  flex-direction: column;
}
