.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-light transition ease-in-out duration-75 cursor-pointer text-accents-6;
}

.mobilelink {
  @apply inline-flex items-center my-2 text-primary leading-6 font-light transition ease-in-out duration-75 cursor-pointer text-accents-6;
}

.link:hover {
  @apply text-accents-9;
}

.mobilelink:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.mobilelink:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.content {
  display: none;
  height: 0px;
  transition: height ease 0.3s;
}

.contentShow {
  display: flex;
  flex-direction: column;
}
