.root {
  @apply h-12 w-12 mx-4 my-2 bg-primary text-primary   inline-flex
  items-center justify-center cursor-pointer transition duration-150 ease-in-out
  p-2 shadow-none;
  height: auto;
  width: auto;
  & > span {
    @apply absolute;
  }

  &:hover {
    @apply transform scale-110;
  }
}

.color {
  @apply text-red transition duration-150 ease-in-out;

  &.dark,
  &.dark:hover {
    color: white !important;
  }
}

.active {
  &.size {
    @apply border-accents-9 border-2;
  }
}
