.root {
  @apply mx-auto grid grid-cols-1 px-4 pb-10 gap-4;
  @screen md {
    @apply grid-cols-1 px-4;
  }
  @screen lg {
    @apply px-0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.button {
  margin: auto;
  border: 1px solid #c1000c !important;
  background: transparent !important;
  color: #c1000c !important;
  outline: none !important;
  width: 26%;
  min-width: 375px;
}

.button:hover {
  background: #c1000c !important;
  color: white !important;
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
