.root {
  @apply mx-auto grid grid-cols-1 px-4 pb-10 gap-4;
  @screen md {
    @apply grid-cols-1 px-4;
  }
  @screen lg {
    @apply px-0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
