.root {
  @apply mx-auto grid grid-cols-1 px-4 pb-10 gap-4;
  @screen md {
    @apply grid-cols-1 px-4;
  }
  @screen lg {
    @apply px-0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.btn {
  margin: auto;
  border: 1px solid var(--truleyred) !important;
  background: transparent !important;
  color: var(--truleyred) !important;
  outline: none !important;
  width: 350px;
  border-radius: 8px !important;
}

.btn:hover {
  background: var(--truleyred) !important;
  color: white !important;
}

@media screen and (max-width: 500px) {
  .btn {
    transition: ease-in 100ms;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
