.root {
  @apply relative grid items-start gap-4 p-6 grid-cols-1 overflow-x-hidden;
  margin: auto;
  justify-content: center;
  @screen lg {
    @apply grid-cols-12;
  }
}

.productDisplay {
  @apply relative flex mx-4 pb-0 relative box-border col-span-1 bg-transparent;
  /* min-height: 600px;
  @screen md {
    min-height: 700px;
  } */
  @screen lg {
    margin-right: -2rem;
    margin-left: -2rem;
    @apply mx-0 col-span-4;
  }
  justify-content: center;
}

.squareBg {
  @apply absolute inset-0 bg-red z-0 h-full;
}

.nameBox {
  @apply relative z-20 pb-6;

  & .name {
    @apply px-6 py-2 bg-primary text-primary font-bold;
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
  & .price {
    @apply px-6 py-2 pb-4 bg-primary text-primary font-bold inline-block tracking-wide;
  }
  @screen lg {
    & .name,
    & .price {
      @apply bg-white text-black;
    }
  }
}

.sidebar {
  @apply flex flex-col col-span-1 mx-auto max-w-8xl px-6 w-full h-full;
  @screen lg {
    @apply col-span-8 py-24 justify-between;
  }
}

.imageContainer {
  & > div {
    @apply h-full;
    & > div {
      @apply h-full;
    }
  }
}

.thumbImageContainer {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbImageContainer img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  object-fit: contain;
  box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.24);
  transition: ease-in-out 100ms all;
  border-radius: 3px;
}

.thumbImage {
  margin: 5px;
}

.thumbImageContainer img:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: none;
}

.selectedImageContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  max-width: 550px;
  max-height: 550px;
  object-fit: contain;
}

.selectedImageContainer img {
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  max-width: 550px;
  max-height: 550px;
  object-fit: contain;
  transition: ease-in-out 125ms all;
  cursor: pointer;
  border-radius: 5px;
}

.selectedImageContainer img:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: none;
  transform: scale(0.96);
}

.img {
  @apply w-full h-full max-w-full max-h-full object-contain;
}

.button {
  text-align: center;
  width: 100%;
  @screen sm {
    min-width: 400px;
  }
}

.wishlistButton {
  @apply absolute z-30 top-6 right-0 bg-primary text-primary w-10 h-10 flex items-center justify-center font-semibold leading-6 cursor-pointer;
  @screen lg {
    @apply right-12 text-white bg-violet;
  }
}

.link {
  @apply inline-flex items-center text-primary leading-6 font-light transition ease-in-out duration-75 cursor-pointer text-accents-6;
}

.link:hover {
  @apply text-accents-9;
}

.link:focus {
  @apply outline-none text-accents-8;
}
