.root {
  @apply relative w-full;
  overflow-y: hidden;
}

.leftControl,
.rightControl {
  @apply hidden;
}

.leftControl:hover,
.rightControl:hover {
  @apply bg-hover-2;
}

.leftControl:hover,
.rightControl:hover {
  @apply outline-none shadow-outline-blue;
}

.leftControl {
  @apply bg-cover;
  background-image: url('public/cursor-left.png');

  @screen md {
    @apply hidden;
  }

  @screen sm {
    @apply hidden;
  }
}

.rightControl {
  @apply bg-cover;
  background-image: url('public/cursor-right.png');
}

.control {
  @apply opacity-0 w-5 h-5 my-4 transition duration-150;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.root:hover .control {
  @apply opacity-100;
}

.positionIndicatorsContainer {
  @apply hidden;

  @screen sm {
    @apply block absolute bottom-6 left-1/2;
    transform: translateX(-50%);
  }
}

.positionIndicator {
  @apply rounded-full p-2;
}

.dot {
  @apply bg-hover-2 transition w-4 h-4 rounded-full;
  border: #919191 1px solid;
}

.positionIndicator:hover .dot {
  @apply bg-gray-400;
}

.positionIndicator:focus {
  @apply outline-none;
}

.positionIndicator:focus .dot {
  @apply shadow-outline-gray;
}

.positionIndicatorActive .dot {
  @apply bg-white;
}

.positionIndicatorActive:hover .dot {
  @apply bg-white;
}
