.root {
  @apply relative w-full;
  overflow-y: hidden;
}

.control {
  @apply opacity-0 w-5 h-5 my-4 transition duration-150;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.root:hover .control {
  @apply opacity-100;
}

.positionIndicatorsContainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: center;
  padding: 0 20px;
}

.indicatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.positionIndicator {
  @apply rounded-full p-2;
}

.dot {
  @apply bg-hover-2 transition w-4 h-4 rounded-full;
  border: #919191 1px solid;
}

.positionIndicator:hover .dot {
  @apply bg-gray-400;
}

.positionIndicator:focus {
  @apply outline-none;
}

.positionIndicator:focus .dot {
  @apply shadow-outline-gray;
}

.positionIndicatorActive .dot {
  @apply bg-white;
}

.positionIndicatorActive:hover .dot {
  @apply bg-white;
}
