.root {
  @apply h-full flex flex-col;
}

.root.empty {
  @apply bg-secondary text-secondary;
}

.root.success {
  @apply bg-green text-white;
}

.root.error {
  @apply bg-red text-white;
}

.btn {
  margin: auto;
  border: 1px solid var(--truleyred) !important;
  background: transparent !important;
  color: var(--truleyred) !important;
  outline: none !important;
  width: 350px;
  border-radius: 8px;
}

.btn:hover {
  background: var(--truleyred) !important;
  color: white !important;
}

@media screen and (max-width: 500px) {
  .btn {
    transition: ease-in 100ms;
    width: 100%;
  }
}
