.root {
  @apply relative max-h-full w-full box-border overflow-hidden bg-no-repeat bg-center bg-cover transition-transform ease-linear cursor-pointer;
  height: 100% !important;
  &:hover {
    & .productImage {
      transform: scale(1.0625);
    }
  }
}

.simple {
  & .productTitle {
    font-size: 1rem;
  }
  & .productPrice {
    @apply text-sm;
  }
}

.productTitle {
  @apply pt-0 max-w-full w-full;
  letter-spacing: 0.25px;
  & span {
    @apply bg-black  transform transition-transform duration-500 px-2 py-2 text-white;
    font-size: inherit;
  }
  margin: auto;
  display: flex;
}

.productPrice {
  @apply py-4 px-2 bg-black text-white font-medium inline-block text-2xl leading-6;
  letter-spacing: 0.4px;
}

.imageContainer {
  @apply flex items-center justify-center;
  overflow: hidden;
  & > div {
    min-width: 100%;
  }
}

.productImage {
  @apply transform transition-transform duration-500 object-cover scale-120;
}
