.root {
  @apply relative max-h-full w-full box-border overflow-hidden bg-no-repeat bg-center bg-cover transition-transform ease-linear cursor-pointer;
  height: 100% !important;
  &:hover {
    & .productImage {
      transform: scale(1.1);
      opacity: 0.75;
    }
  }
}

.productTitle {
  @apply pt-0 max-w-full w-full text-lg;
  letter-spacing: 0.25px;
  & span {
    @apply transform transition-transform duration-500 px-2 py-2 text-white;
    color: #000000;
    font-size: inherit;
  }
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.productInfoBox {
}

.productPrice {
  @apply py-4 px-2 text-3xl font-normal inline-block leading-4;
  display: flex;
  justify-content: center;
  letter-spacing: 0.4px;
}

.imageContainer {
  @apply flex items-center justify-center;
  overflow: hidden;
  & > div {
    min-width: 100%;
  }
}

.productImage {
  @apply transform transition-transform duration-500 object-cover scale-120;
}
